 body{
         
    font-family: 'Rajdhani', sans-serif;
 }
 :focus{
    outline: 0;
}
.btn1:focus, .btn1.focus {
    outline: 0;
    box-shadow: none;
}
 .ami
    {
    border-bottom: 3px solid #3292a6;
    background: #292b2c;
    opacity: 0.9;
    }
    .amii
    {
       background: url("../img/1.jpeg");
       background-attachment: fixed;
       background-size: cover;
    }
    .fa
    {
      font-size: 30px;
      color: black;
      border: 1px solid white;
      background: lightgray;
      border-radius: 4px;
      margin-right: 10px;
      padding:3px;

    }